* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(36, 113, 190), #f8f8);
}

#ball {
    position: absolute;
    height: 20%;
    width: 20%;
    background-color: cadetblue;
    border-radius: 50%;
}